@font-face {
	font-family: 'BebasRegular';
	src: url('/file/fonts/BEBAS___-webfont.eot');
	src: local('☺'), url('/file/fonts/BEBAS___-webfont.woff') format('woff'), url('/file/fonts/BEBAS___-webfont.ttf') format('truetype'), url('/file/fonts/BEBAS___-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
	letter-spacing: 12px
}

body {
	background-color: #ECECEC;
	text-shadow: #F9F9F9 2px 2px 2px;
	font-family: "BebasRegular", sans-serif;
}

h1, h2, h3 {
  font-family: "BebasRegular", sans-serif;
}

.slide {
	background-color: #ECECEC;
	border:0;
}

.sh_sourceCode {
	padding: 15px;
}